<section id="torch-toolbar">
  <div class="torch-container">
    <%= link "Edit", to: Routes.admin_url_path(@conn, :edit, @url), class: "torch-button" %>
    <%= link "Back", to: Routes.admin_url_path(@conn, :index), class: "torch-button" %>
  </div>
</section>

<section id="torch-header-and-content">
  <div class="torch-container">
    <div class="header">
      <h3>Url Details</h3>
    </div>
    <ul>
      <li>
        <div class="torch-show-label">Url:</div>
        <div class="torch-show-data"><%= @url.url %></div>
      </li>

      <li>
        <div class="torch-show-label">Slug:</div>
        <div class="torch-show-data"><%= @url.slug %></div>
      </li>

      <li>
        <div class="torch-show-label">Slug:</div>
        <div class="torch-show-data"><%= @url.slug_id %></div>
      </li>

      <li>
        <div class="torch-show-label">Inserted at:</div>
        <div class="torch-show-data"><%= @url.inserted_at %></div>
      </li>

      <li>
        <div class="torch-show-label">Site id:</div>
        <div class="torch-show-data"><%= @url.site_id %></div>
      </li>
    </ul>
  </div>
</section>
