<html>
  <head>
    <title>Admin</title>
    <link
      rel="stylesheet"
      href="<%= Routes.static_path(@conn, "/torch/theme.css") %>"
    />
  </head>

  <body class="<%= Torch.PageView.body_classes(@conn) %>">
    <header>
      <section id="torch-account-info">
        <div class="torch-container">
          <span
            ><a
              href="<%= Routes.pow_registration_path(@conn, :edit) %>"
            ><%= @current_user.email %></a
          ></span>
          <span><%= link "Sign out", to: Routes.pow_session_path(@conn, :delete), method: :delete %></span>
        </div>
      </section>

      <section id="torch-nav">
        <div class="torch-container">
          <div class="torch-logo">
            <a href="/">
              <h3>Torch</h3>
            </a>
          </div>
          <nav class="torch-nav">
            <a href="<%= Routes.admin_url_path(@conn, :index) %>">Urls</a>
            <a href="<%= Routes.admin_visit_path(@conn, :index) %>">Visits</a>
            <a href="<%= Routes.admin_domain_path(@conn, :index) %>">Domains</a>
          </nav>
        </div>
      </section>
    </header>

    <%= Torch.FlashView.render("_flash_messages.html", assigns) %>
    <%= @inner_content %>
    <script src="<%= Routes.static_path(@conn, "/torch/torch.js") %>"></script>
  </body>
</html>
