<section id="torch-toolbar">
  <div class="torch-container">
    <%= link "New Domain", to: Routes.admin_domain_path(@conn, :new) %>
  </div>
</section>
<section id="torch-index-content">
  <div class="torch-container">
    <section id="torch-filters">
      <h3>Find Domains</h3>
      <%= form_tag @conn.request_path, method: :get, id: "torch-filters-form" do %>
        <div class="field">
          <label>Host</label>
          <%= filter_select(:domain, :host, @conn.params) %>
          <%= filter_string_input(:domain, :host, @conn.params) %>
        </div>

        <div class="field">
          <label>Url</label>
          <%= filter_select(:domain, :url, @conn.params) %>
          <%= filter_string_input(:domain, :url, @conn.params) %>
        </div>

        <div class="field">
          <label>Title</label>
          <%= filter_select(:domain, :title, @conn.params) %>
          <%= filter_string_input(:domain, :title, @conn.params) %>
        </div>

        <div class="field">
          <label>Template</label>
          <%= filter_select(:domain, :template, @conn.params) %>
          <%= filter_string_input(:domain, :template, @conn.params) %>
        </div>

        <div class="field">
          <label>Favicon path</label>
          <%= filter_select(:domain, :favicon_path, @conn.params) %>
          <%= filter_string_input(:domain, :favicon_path, @conn.params) %>
        </div>

        <div class="field">
          <label>Is public</label>
          <%= filter_boolean_input(:domain, :is_public, @conn.params) %>
        </div>

        <button type="submit" class="torch-button">Search</button>
        <%= link "Clear Filters", to: Routes.admin_domain_path(@conn, :index) %>
      <% end %>
    </section>

    <section id="torch-table">
      <%= if length(@domains) > 0 do %>
        <table>
          <thead>
            <tr>
              <th><%= table_link(@conn, "Host", :host) %></th>

              <th><%= table_link(@conn, "Url", :url) %></th>

              <th><%= table_link(@conn, "Title", :title) %></th>

              <th><%= table_link(@conn, "Template", :template) %></th>

              <th><%= table_link(@conn, "Favicon path", :favicon_path) %></th>

              <th><%= table_link(@conn, "Is public", :is_public) %></th>

              <th><span>Actions</span></th>
            </tr>
          </thead>
          <tbody>
            <%= for domain <- @domains do %>
              <tr>
                <td><%= domain.host %></td>

                <td><%= domain.url %></td>

                <td><%= domain.title %></td>

                <td><%= domain.template %></td>

                <td><%= domain.favicon_path %></td>

                <td><%= domain.is_public %></td>

                <td class="torch-actions">
                  <span><%= link "Show", to: Routes.admin_domain_path(@conn, :show, domain) %></span>
                  <span><%= link "Edit", to: Routes.admin_domain_path(@conn, :edit, domain) %></span>
                  <span><%= link "Delete", to: Routes.admin_domain_path(@conn, :delete, domain), method: :delete, data: [confirm: "Are you sure?"] %></span>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= render Torch.PaginationView, "_pagination.html", assigns %>
      <% else %>
        <p class="torch-no-data">No Domains match your search.</p>
      <% end %>
    </section>
  </div>
</section>
