<section id="torch-toolbar">
  <div class="torch-container">
    <%= link "Cancel", to: Routes.admin_domain_path(@conn, :index), class: "torch-button" %>
  </div>
</section>

<section id="torch-header-and-content">
  <div class="torch-container">
    <div class="header">
      <h3>New Domain</h3>
    </div>
    <%= render "form.html", Map.put(assigns, :action, Routes.admin_domain_path(@conn, :create)) %>
  </div>
</section>
