<section id="torch-toolbar">
  <div class="torch-container">
    <%= link "Edit", to: Routes.admin_domain_path(@conn, :edit, @domain), class: "torch-button" %>
    <%= link "Back", to: Routes.admin_domain_path(@conn, :index), class: "torch-button" %>
  </div>
</section>

<section id="torch-header-and-content">
  <div class="torch-container">
    <div class="header">
      <h3>Domain Details</h3>
    </div>
    <ul>
      <li>
        <div class="torch-show-label">Host:</div>
        <div class="torch-show-data"><%= @domain.host %></div>
      </li>

      <li>
        <div class="torch-show-label">Url:</div>
        <div class="torch-show-data"><%= @domain.url %></div>
      </li>

      <li>
        <div class="torch-show-label">Title:</div>
        <div class="torch-show-data"><%= @domain.title %></div>
      </li>

      <li>
        <div class="torch-show-label">Template:</div>
        <div class="torch-show-data"><%= @domain.template %></div>
      </li>

      <li>
        <div class="torch-show-label">Favicon path:</div>
        <div class="torch-show-data"><%= @domain.favicon_path %></div>
      </li>

      <li>
        <div class="torch-show-label">Is public:</div>
        <div class="torch-show-data"><%= @domain.is_public %></div>
      </li>
    </ul>
  </div>
</section>
